In [1]:
from datetime import datetime
import os
import pandas as pd

In [2]:
def get_table(filename):

    if os.path.isfile(filename):
        df = pd.read_csv(filename, index_col='date')
        return df

# Get this csv file from https://github.com/fja05680/sp500
* Historical Lists of S&P 500 components since 1996: S&P 500 Historical Components & Changes(MM-DD-YYYY).csv

In [4]:
filename = 'S&P 500 Historical Components & Changes(08-12-2022).csv'
df = get_table(filename)
df.head()

                                                      tickers
date
1996-01-02  AAL,AAMRQ,AAPL,ABI,ABS,ABT,ABX,ACKH,ACV,ADM,AD...
1996-01-03  AAL,AAMRQ,AAPL,ABI,ABS,ABT,ABX,ACKH,ACV,ADM,AD...
1996-01-04  AAL,AAMRQ,AAPL,ABI,ABS,ABT,ABX,ACKH,ACV,ADM,AD...
1996-01-10  AAL,AAMRQ,AAPL,ABI,ABS,ABT,ABX,ACKH,ACV,ADM,AD...
1996-01-11  AAL,AAMRQ,AAPL,ABI,ABS,ABT,ABX,ACKH,ACV,ADM,AD...

In [5]:
print(df.tickers[0])

AAL,AAMRQ,AAPL,ABI,ABS,ABT,ABX,ACKH,ACV,ADM,ADP,ADSK,AEE,AEP,AET,AGC,AGN,AHM,AIG,AIT,AL,ALL,AM,AMAT,AMD,AMGN,AMH,AMP,AN,ANDW,ANV,APD,AR,ARC,ARNC,AS,ASC,ASH,AT,ATI,AVP,AVY,AXP,AZA.A,BA,BAC,BAX,BBI,BC,BCO,BCR,BDK,BDX,BEAM,BEV,BF.B,BFI,BFO,BGG,BHGE,BHMSQ,BK,BKB,BLL,BLS,BLY,BMET,BMS,BMY,BNI,BNL,BOAT,BOL,BR,BSX,BT,BUD,C,CA,CAG,CAL,CAR,CAT,CB,CBB,CBE,CBS,CCB,CCI,CCK,CCTYQ,CEG,CEN,CFL,CG,CGP,CHA,CHRS,CI,CIN,CL,CLX,CMA,CMB,CMCSA,CMI,CNG,CNP,CNW,COMS,COP,COST,COV,CPB,CPQ,CR,CRR,CSCO,CSR,CSX,CTB,CTX,CVS,CVX,CYM,CYR,D,DALRQ,DCNAQ,DD,DDS,DE,DEC,DGN,DI,DIGI,DIS,DJ,DLX,DOV,DOW,DRI,DTE,DUK,DWD,DXC,EC,ECH,ECL,ECO,ED,EFU,EIX,EKDKQ,EMN,EMR,ENRNQ,ENS,ETN,ETR,ETS,EXC,F,FBF,FBO,FCN,FCX,FDC,FDX,FE,FG,FJ,FL,FLMIQ,FLTWQ,FMC,FMCC,FNMA,FTL.A,FWLT,G,GAPTQ,GAS,GD,GDW,GE,GFS.A,GIDL,GIS,GLD,GLK,GLW,GP,GPC,GPS,GPU,GR,GRA,GRN,GSX,GT,GTE,GWF,GWW,H,HAL,HAS,HCA,HD,HDLM,HES,HET,HI,HIG,HLT,HM,HNZ,HON,HP,HPC,HPH,HPQ,HRB,HRS,HSH,HSY,HUM,I,IBM,IFF,IKN,INCLF,INGR,INTC,IP,IPG,IR,ITT,ITW,JAVA,JCI,JCP,JH,JNJ,JOS,JP,JPM,JWN,K,KATE,KBH,KEY,KM,KMB,KMG,KO,KR,KRB,KRI,KWP,L,LB,LDG,LDW.B,LLX,LLY,LMT,LNC,LOR,LOW,LPX,LSI,LUB,LUV,M,MAS,MAT,MAY,MCD,MCIC,MCO,MD,MDP,MDR,MDT,MEA,MEE,MEL,MER,MII,MIL,MKG,MMC,MMM,MNR,MO,MOB,MRK,MRO,MS,MSFT,MSI,MST,MTLQQ,MU,MWI,MWV,MYG,MZIAQ,NAE,NAV,NC,NCC,NEE,NEM,NKE,NLC,NMK,NOC,NOVL,NRTLQ,NSC,NSI,NSM,NUE,NWL,NYN,NYT,OAT,OKE,OM,OMX,ONE,ORCL,ORX,OWENQ,OXY,PAC,PAS,PBI,PBY,PCAR,PCG,PCH,PD,PDG,PEG,PEL,PEP,PET,PFE,PG,PGL,PGN,PH,PHA,PHB,PHM,PKI,PLL,PMI,PNC,PNU,PPG,PPL,PPW,PRD,PVN,PX,PZE,R,RAD,RAL,RBD,RBK,RDC,RDS.A,RLM,RML,RNB,ROH,ROK,RRD,RSHCQ,RTN,RYAN,RYC,RYI,S,SAF,SB,SCI,SFA,SFS,SGID,SGP,SHN,SHW,SIAL,SK,SLB,SMI,SMS,SNA,SNT,SO,SPGI,SRR,STI,STJ,STO,SUN,SVU,SWK,SYY,T,TA,TAP,TCOMA,TDM,TEK,TEN,TGNA,TGT,THC,THY,TIN,TJX,TKR,TLAB,TMC,TMC.A,TMK,TNB,TOY,TRB,TRV,TRW,TWX,TX,TXN,TXT,TXU,UAWGQ,UCC,UCL,UCM,UIS,UK,UMG,UN,UNH,UNM,UNP,USB,USBC,USH,USHC,USS,UST,USW,UTX,VAT,VFC,VO,VZ,WAI,WB,WBA,WEN,WFC,WHR,WLA,WLL,WMB,WMT,WMX,WNDXQ,WOR,WWY,WY,WYE,X,XEL,XOM,XRX,YRCW

In [6]:
# Convert ticker column from csv to list, then sort.
df['tickers'] = df['tickers'].apply(lambda x: sorted(x.split(',')))
df.tail()

                                                      tickers
date
2022-06-08  [A, AAL, AAP, AAPL, ABBV, ABC, ABMD, ABT, ACN,...
2022-06-09  [A, AAL, AAP, AAPL, ABBV, ABC, ABMD, ABT, ACN,...
2022-06-21  [A, AAL, AAP, AAPL, ABBV, ABC, ABMD, ABT, ACN,...
2022-06-21  [A, AAL, AAP, AAPL, ABBV, ABC, ABMD, ABT, ACN,...
2022-06-28  [A, AAL, AAP, AAPL, ABBV, ABC, ABMD, ABT, ACN,...

In [7]:
print(df.tickers[0])

['AAL', 'AAMRQ', 'AAPL', 'ABI', 'ABS', 'ABT', 'ABX', 'ACKH', 'ACV', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AET', 'AGC', 'AGN', 'AHM', 'AIG', 'AIT', 'AL', 'ALL', 'AM', 'AMAT', 'AMD', 'AMGN', 'AMH', 'AMP', 'AN', 'ANDW', 'ANV', 'APD', 'AR', 'ARC', 'ARNC', 'AS', 'ASC', 'ASH', 'AT', 'ATI', 'AVP', 'AVY', 'AXP', 'AZA.A', 'BA', 'BAC', 'BAX', 'BBI', 'BC', 'BCO', 'BCR', 'BDK', 'BDX', 'BEAM', 'BEV', 'BF.B', 'BFI', 'BFO', 'BGG', 'BHGE', 'BHMSQ', 'BK', 'BKB', 'BLL', 'BLS', 'BLY', 'BMET', 'BMS', 'BMY', 'BNI', 'BNL', 'BOAT', 'BOL', 'BR', 'BSX', 'BT', 'BUD', 'C', 'CA', 'CAG', 'CAL', 'CAR', 'CAT', 'CB', 'CBB', 'CBE', 'CBS', 'CCB', 'CCI', 'CCK', 'CCTYQ', 'CEG', 'CEN', 'CFL', 'CG', 'CGP', 'CHA', 'CHRS', 'CI', 'CIN', 'CL', 'CLX', 'CMA', 'CMB', 'CMCSA', 'CMI', 'CNG', 'CNP', 'CNW', 'COMS', 'COP', 'COST', 'COV', 'CPB', 'CPQ', 'CR', 'CRR', 'CSCO', 'CSR', 'CSX', 'CTB', 'CTX', 'CVS', 'CVX', 'CYM', 'CYR', 'D', 'DALRQ', 'DCNAQ', 'DD', 'DDS', 'DE', 'DEC', 'DGN', 'DI', 'DIGI', 'DIS', 'DJ', 'DLX', 'DOV', 'DOW', 'DRI', 'DTE', 'DUK', 'DWD', 'DXC', 'EC', 'ECH', 'ECL', 'ECO', 'ED', 'EFU', 'EIX', 'EKDKQ', 'EMN', 'EMR', 'ENRNQ', 'ENS', 'ETN', 'ETR', 'ETS', 'EXC', 'F', 'FBF', 'FBO', 'FCN', 'FCX', 'FDC', 'FDX', 'FE', 'FG', 'FJ', 'FL', 'FLMIQ', 'FLTWQ', 'FMC', 'FMCC', 'FNMA', 'FTL.A', 'FWLT', 'G', 'GAPTQ', 'GAS', 'GD', 'GDW', 'GE', 'GFS.A', 'GIDL', 'GIS', 'GLD', 'GLK', 'GLW', 'GP', 'GPC', 'GPS', 'GPU', 'GR', 'GRA', 'GRN', 'GSX', 'GT', 'GTE', 'GWF', 'GWW', 'H', 'HAL', 'HAS', 'HCA', 'HD', 'HDLM', 'HES', 'HET', 'HI', 'HIG', 'HLT', 'HM', 'HNZ', 'HON', 'HP', 'HPC', 'HPH', 'HPQ', 'HRB', 'HRS', 'HSH', 'HSY', 'HUM', 'I', 'IBM', 'IFF', 'IKN', 'INCLF', 'INGR', 'INTC', 'IP', 'IPG', 'IR', 'ITT', 'ITW', 'JAVA', 'JCI', 'JCP', 'JH', 'JNJ', 'JOS', 'JP', 'JPM', 'JWN', 'K', 'KATE', 'KBH', 'KEY', 'KM', 'KMB', 'KMG', 'KO', 'KR', 'KRB', 'KRI', 'KWP', 'L', 'LB', 'LDG', 'LDW.B', 'LLX', 'LLY', 'LMT', 'LNC', 'LOR', 'LOW', 'LPX', 'LSI', 'LUB', 'LUV', 'M', 'MAS', 'MAT', 'MAY', 'MCD', 'MCIC', 'MCO', 'MD', 'MDP', 'MDR', 'MDT', 'MEA', 'MEE', 'MEL', 'MER', 'MII', 'MIL', 'MKG', 'MMC', 'MMM', 'MNR', 'MO', 'MOB', 'MRK', 'MRO', 'MS', 'MSFT', 'MSI', 'MST', 'MTLQQ', 'MU', 'MWI', 'MWV', 'MYG', 'MZIAQ', 'NAE', 'NAV', 'NC', 'NCC', 'NEE', 'NEM', 'NKE', 'NLC', 'NMK', 'NOC', 'NOVL', 'NRTLQ', 'NSC', 'NSI', 'NSM', 'NUE', 'NWL', 'NYN', 'NYT', 'OAT', 'OKE', 'OM', 'OMX', 'ONE', 'ORCL', 'ORX', 'OWENQ', 'OXY', 'PAC', 'PAS', 'PBI', 'PBY', 'PCAR', 'PCG', 'PCH', 'PD', 'PDG', 'PEG', 'PEL', 'PEP', 'PET', 'PFE', 'PG', 'PGL', 'PGN', 'PH', 'PHA', 'PHB', 'PHM', 'PKI', 'PLL', 'PMI', 'PNC', 'PNU', 'PPG', 'PPL', 'PPW', 'PRD', 'PVN', 'PX', 'PZE', 'R', 'RAD', 'RAL', 'RBD', 'RBK', 'RDC', 'RDS.A', 'RLM', 'RML', 'RNB', 'ROH', 'ROK', 'RRD', 'RSHCQ', 'RTN', 'RYAN', 'RYC', 'RYI', 'S', 'SAF', 'SB', 'SCI', 'SFA', 'SFS', 'SGID', 'SGP', 'SHN', 'SHW', 'SIAL', 'SK', 'SLB', 'SMI', 'SMS', 'SNA', 'SNT', 'SO', 'SPGI', 'SRR', 'STI', 'STJ', 'STO', 'SUN', 'SVU', 'SWK', 'SYY', 'T', 'TA', 'TAP', 'TCOMA', 'TDM', 'TEK', 'TEN', 'TGNA', 'TGT', 'THC', 'THY', 'TIN', 'TJX', 'TKR', 'TLAB', 'TMC', 'TMC.A', 'TMK', 'TNB', 'TOY', 'TRB', 'TRV', 'TRW', 'TWX', 'TX', 'TXN', 'TXT', 'TXU', 'UAWGQ', 'UCC', 'UCL', 'UCM', 'UIS', 'UK', 'UMG', 'UN', 'UNH', 'UNM', 'UNP', 'USB', 'USBC', 'USH', 'USHC', 'USS', 'UST', 'USW', 'UTX', 'VAT', 'VFC', 'VO', 'VZ', 'WAI', 'WB', 'WBA', 'WEN', 'WFC', 'WHR', 'WLA', 'WLL', 'WMB', 'WMT', 'WMX', 'WNDXQ', 'WOR', 'WWY', 'WY', 'WYE', 'X', 'XEL', 'XOM', 'XRX', 'YRCW']

In [8]:
# Replace SYMBOL-yyyymm with SYMBOL.
df['tickers'] = [[ticker.split('-')[0] for ticker in tickers] for tickers in df['tickers']]
df.head()

                                                      tickers
date
1996-01-02  [AAL, AAMRQ, AAPL, ABI, ABS, ABT, ABX, ACKH, A...
1996-01-03  [AAL, AAMRQ, AAPL, ABI, ABS, ABT, ABX, ACKH, A...
1996-01-04  [AAL, AAMRQ, AAPL, ABI, ABS, ABT, ABX, ACKH, A...
1996-01-10  [AAL, AAMRQ, AAPL, ABI, ABS, ABT, ABX, ACKH, A...
1996-01-11  [AAL, AAMRQ, AAPL, ABI, ABS, ABT, ABX, ACKH, A...

In [9]:
print(df.tickers[0])

['AAL', 'AAMRQ', 'AAPL', 'ABI', 'ABS', 'ABT', 'ABX', 'ACKH', 'ACV', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AET', 'AGC', 'AGN', 'AHM', 'AIG', 'AIT', 'AL', 'ALL', 'AM', 'AMAT', 'AMD', 'AMGN', 'AMH', 'AMP', 'AN', 'ANDW', 'ANV', 'APD', 'AR', 'ARC', 'ARNC', 'AS', 'ASC', 'ASH', 'AT', 'ATI', 'AVP', 'AVY', 'AXP', 'AZA.A', 'BA', 'BAC', 'BAX', 'BBI', 'BC', 'BCO', 'BCR', 'BDK', 'BDX', 'BEAM', 'BEV', 'BF.B', 'BFI', 'BFO', 'BGG', 'BHGE', 'BHMSQ', 'BK', 'BKB', 'BLL', 'BLS', 'BLY', 'BMET', 'BMS', 'BMY', 'BNI', 'BNL', 'BOAT', 'BOL', 'BR', 'BSX', 'BT', 'BUD', 'C', 'CA', 'CAG', 'CAL', 'CAR', 'CAT', 'CB', 'CBB', 'CBE', 'CBS', 'CCB', 'CCI', 'CCK', 'CCTYQ', 'CEG', 'CEN', 'CFL', 'CG', 'CGP', 'CHA', 'CHRS', 'CI', 'CIN', 'CL', 'CLX', 'CMA', 'CMB', 'CMCSA', 'CMI', 'CNG', 'CNP', 'CNW', 'COMS', 'COP', 'COST', 'COV', 'CPB', 'CPQ', 'CR', 'CRR', 'CSCO', 'CSR', 'CSX', 'CTB', 'CTX', 'CVS', 'CVX', 'CYM', 'CYR', 'D', 'DALRQ', 'DCNAQ', 'DD', 'DDS', 'DE', 'DEC', 'DGN', 'DI', 'DIGI', 'DIS', 'DJ', 'DLX', 'DOV', 'DOW', 'DRI', 'DTE', 'DUK', 'DWD', 'DXC', 'EC', 'ECH', 'ECL', 'ECO', 'ED', 'EFU', 'EIX', 'EKDKQ', 'EMN', 'EMR', 'ENRNQ', 'ENS', 'ETN', 'ETR', 'ETS', 'EXC', 'F', 'FBF', 'FBO', 'FCN', 'FCX', 'FDC', 'FDX', 'FE', 'FG', 'FJ', 'FL', 'FLMIQ', 'FLTWQ', 'FMC', 'FMCC', 'FNMA', 'FTL.A', 'FWLT', 'G', 'GAPTQ', 'GAS', 'GD', 'GDW', 'GE', 'GFS.A', 'GIDL', 'GIS', 'GLD', 'GLK', 'GLW', 'GP', 'GPC', 'GPS', 'GPU', 'GR', 'GRA', 'GRN', 'GSX', 'GT', 'GTE', 'GWF', 'GWW', 'H', 'HAL', 'HAS', 'HCA', 'HD', 'HDLM', 'HES', 'HET', 'HI', 'HIG', 'HLT', 'HM', 'HNZ', 'HON', 'HP', 'HPC', 'HPH', 'HPQ', 'HRB', 'HRS', 'HSH', 'HSY', 'HUM', 'I', 'IBM', 'IFF', 'IKN', 'INCLF', 'INGR', 'INTC', 'IP', 'IPG', 'IR', 'ITT', 'ITW', 'JAVA', 'JCI', 'JCP', 'JH', 'JNJ', 'JOS', 'JP', 'JPM', 'JWN', 'K', 'KATE', 'KBH', 'KEY', 'KM', 'KMB', 'KMG', 'KO', 'KR', 'KRB', 'KRI', 'KWP', 'L', 'LB', 'LDG', 'LDW.B', 'LLX', 'LLY', 'LMT', 'LNC', 'LOR', 'LOW', 'LPX', 'LSI', 'LUB', 'LUV', 'M', 'MAS', 'MAT', 'MAY', 'MCD', 'MCIC', 'MCO', 'MD', 'MDP', 'MDR', 'MDT', 'MEA', 'MEE', 'MEL', 'MER', 'MII', 'MIL', 'MKG', 'MMC', 'MMM', 'MNR', 'MO', 'MOB', 'MRK', 'MRO', 'MS', 'MSFT', 'MSI', 'MST', 'MTLQQ', 'MU', 'MWI', 'MWV', 'MYG', 'MZIAQ', 'NAE', 'NAV', 'NC', 'NCC', 'NEE', 'NEM', 'NKE', 'NLC', 'NMK', 'NOC', 'NOVL', 'NRTLQ', 'NSC', 'NSI', 'NSM', 'NUE', 'NWL', 'NYN', 'NYT', 'OAT', 'OKE', 'OM', 'OMX', 'ONE', 'ORCL', 'ORX', 'OWENQ', 'OXY', 'PAC', 'PAS', 'PBI', 'PBY', 'PCAR', 'PCG', 'PCH', 'PD', 'PDG', 'PEG', 'PEL', 'PEP', 'PET', 'PFE', 'PG', 'PGL', 'PGN', 'PH', 'PHA', 'PHB', 'PHM', 'PKI', 'PLL', 'PMI', 'PNC', 'PNU', 'PPG', 'PPL', 'PPW', 'PRD', 'PVN', 'PX', 'PZE', 'R', 'RAD', 'RAL', 'RBD', 'RBK', 'RDC', 'RDS.A', 'RLM', 'RML', 'RNB', 'ROH', 'ROK', 'RRD', 'RSHCQ', 'RTN', 'RYAN', 'RYC', 'RYI', 'S', 'SAF', 'SB', 'SCI', 'SFA', 'SFS', 'SGID', 'SGP', 'SHN', 'SHW', 'SIAL', 'SK', 'SLB', 'SMI', 'SMS', 'SNA', 'SNT', 'SO', 'SPGI', 'SRR', 'STI', 'STJ', 'STO', 'SUN', 'SVU', 'SWK', 'SYY', 'T', 'TA', 'TAP', 'TCOMA', 'TDM', 'TEK', 'TEN', 'TGNA', 'TGT', 'THC', 'THY', 'TIN', 'TJX', 'TKR', 'TLAB', 'TMC', 'TMC.A', 'TMK', 'TNB', 'TOY', 'TRB', 'TRV', 'TRW', 'TWX', 'TX', 'TXN', 'TXT', 'TXU', 'UAWGQ', 'UCC', 'UCL', 'UCM', 'UIS', 'UK', 'UMG', 'UN', 'UNH', 'UNM', 'UNP', 'USB', 'USBC', 'USH', 'USHC', 'USS', 'UST', 'USW', 'UTX', 'VAT', 'VFC', 'VO', 'VZ', 'WAI', 'WB', 'WBA', 'WEN', 'WFC', 'WHR', 'WLA', 'WLL', 'WMB', 'WMT', 'WMX', 'WNDXQ', 'WOR', 'WWY', 'WY', 'WYE', 'X', 'XEL', 'XOM', 'XRX', 'YRCW']

In [10]:
#check total length
df['tickers'].shape[0]

2656

In [11]:
#start date
df.index[0]

'1996-01-02'

In [12]:
#end date
df.index[df['tickers'].shape[0]-1]

'2022-06-28'

In [13]:
#merge all tickers together into a list
tickers_list=[]
for i in range(df['tickers'].shape[0]):
    tickers_list = tickers_list + df['tickers'][i]

In [14]:
len(tickers_list)

1319058

In [15]:
#get unique tickers
tickers_list_set=list(sorted(set(tickers_list)))

In [16]:
#check total unique tickers
len(tickers_list_set)

1132

In [17]:
tickers_list_set=pd.DataFrame(tickers_list_set)

In [18]:
tickers_list_set.shape

(1132, 1)

In [19]:
#filename = 'tickers_list_set.csv'
#tickers_list_set.to_csv(filename)

In [20]:
#output to a txt file in order to query from WRDS
tickers_list_set.to_csv('sp500_tickers.txt', header=None, index=None, sep=' ', mode='a')